body {
    color: #333;
}
main.main-content {
    margin-top: 80px;  
}
/*FAIXA TOPO*/
.topo {
    background: #028577;
    width: 100%;
    float: left;
    height: 22px;
    padding: 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
}
.topo a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 0 5px;
}
.topo p {
    margin: 0;
    letter-spacing: 0.5px;
}
.topo .tel {
    padding: 4px 0 7px 0;
}
.topo .redes-topo {
    padding: 0 0 4px 0;
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    padding: 6px 0;
    text-align: center;
}
/*FIM FAIXA TOPO*/
/*INICIO CONTATO HEADER*/
.logo-info-contato {
    float: left;
    width: 100%;
    padding-top: 5px;
}
.contato-header {
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.contato-header .icone {
    float: left;
    width: 100%;
}
.contato-header .icone {
    float: left;
    width: 100%;
}
.contato-header .icone p {
    font-size: 13px;
    margin: 7px 0;
    font-weight: bold;
    line-height: 21px;
    color: #028577;
}
.contato-header .icone p a {
    color:#028577
}
.contato-header .icone img {
    float: left;
    padding: 10px 16px 0 0;
    width: 75px;
}
/*FIM CONTATO HEADER*/
/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    margin: 0 auto 10px 0;
    box-shadow: 0 1px 13px 2px #7d7d7d17;
}
header .logo {
    float:left;
    margin:3px 0
}
header .logo img {
    width: 90%
}
header .logo a {
    display:block;
    text-decoration:none
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    margin: 35px 0;
    text-align: center;
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color:#028577;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative;
    margin: 0px;
}
.menu > .menu-list > li > a {
    display:inline-block;
    padding:10px 14px;
    margin:0;
    font-weight: bold; 
    transition: all 0.5s; 
}
.menu > .menu-list > li:hover > a {
    color: #d34a4b;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    left: -41px;
    min-width: 213px;
    z-index: 100;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 15px;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 8px;
    background: #fff;
    border-bottom: 1px solid #028577;
}

/*INICIO ENTRE EM CONTATO HOME*/
.entre-em-contato {
    float: left;
    width: 100%;
    background: #408cff;
    margin-top: 10px;
}
.entre-em-contato p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    float: left;
}
.entre-em-contato a {
    font-size: 60px;
    margin-right: 80px;
    color: #ffffff;
    float: right;
}
/*FIM ENTRE EM CONTATO HOME*/

/* Menu Mobile */
.slicknav_btn {
    background-color:#d34a4b
}
.slicknav_menu {
    background-color:#028577
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}
/*INICIO SERVÇOS HOME*/
.servicos {
    float: left;
    width: 100%;
    background: #fff;
}
/*FIM SERVÇOS HOME*/

/* Rodapé */
footer {
    padding: 30px 15px 0 15px;
    background-color: #fff;
    color: #333;
    border-top: 5px solid #028577;
    margin-top: 0;
    float: left;
    width: 100%;
}
footer h5 {
    font-size: 20px; 
    text-transform: uppercase;
    margin: 0 10px 0;
    color: #028577;
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #333;
    margin: 5px 0;
    line-height: 20px;
}
footer li {
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 2px;
}
footer a {
    text-decoration: none !important;
    color: #333;
    text-transform: none;
    line-height: 23px;
}
a:hover {
    color: #d34a4b;
    font-weight: 600;
    transition: all 0.5s;
}
footer iframe {
    border: none;
    width: 100%;
    float: left;
    height: 180px;
}
footer .footer-copyright {
    padding:30px 0 5px 0;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .text-right {
    margin-top: 10px;
}
footer hr {
    margin-bottom: 0;
}
footer .logo p {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #333;
    padding: 0 25px;
}
footer .footer-copyright p.desenvolvido {
    margin: 0 20px;
    padding-bottom: 0;
    line-height: 4;
}
footer i.fas.fa-check {
    color: #028577;
}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright p.absolutsbo {
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 13px auto 5px auto;
    border-radius: 25px
}
footer p strong {
    font-weight: 800
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    z-index: 100000
}
.btn-fixo a.btn-telephone i {
    color:#028577;
}

.btn-fixo a.btn-whatsapp i {
    color:#25d366;
}
.btn-fixo a.btn-mail i {
    color:#ff696a;
    font-size: 32px;
}
a.btn-telephone {
    top: 352px;
    padding: 11px 11px;
    transition: 0.6s all;
}
a.btn-whatsapp {
    top: 295px;
    transition: 0.6s all;
    padding: 11px 12.8px;
}
a.btn-mail {
    top: 409px;
    transition: 0.6s all;
    padding: 11px 11px;
}
.btn-fixo a:hover {
    background: #eaeaea;
    transition: 0.6s all;
}

/* Main */
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .topo {
        display: none;
    }
    .container.header-container-main {
        display: none;
    }
    .theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home, .theme-default-nivo-slider .nivo-caption a.btn-home {
        display:none
    }
}
@media screen and (max-width: 768px) {
    .menu > .menu-list > li {
        margin: 0px 9px;
    }
    .menu {
        margin-top: 119px;
        height: 41px;
    }
}