main.main-content {
    margin-top: 148px;  
}
.a-clinica h1 {
    font-size: 34px;
    margin-bottom: 8px;
    color: #003;
    text-align: center;
}
.a-clinica hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.a-clinica p {
	text-align: center;
	line-height: 24px;
    letter-spacing: 0.3px;
}
.a-clinica h2 {
    text-align: center;
    color: #028577;
    padding-top: 30px;
    font-size: 25px;
    letter-spacing: 1px;
}
iframe.mapa-contato {
    width: 100%;
    height: 400px;
}