main.main-content {
    margin-top: 148px;
}
.pag-procedimentos {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
.pag-procedimentos h1 {
    color: #003;
    font-size: 40px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-align: center;
}
.pag-procedimentos h3 {
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center 
}
.pag-procedimentos p {
    text-align: center;
    line-height: 23px;
}
.pag-procedimentos hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.pag-procedimentos .ativvo a h2 {
    border: 1px solid #028577;
    color: #028577;
    text-align: center;
    padding: 10px;
}
.pag-procedimentos a {
    text-decoration: none
}
.pag-procedimentos .no-ativvo a h2 {
    border: 1px solid #d34a4b;
    background: #d34a4b;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: all 0.5s
}
.pag-procedimentos .no-ativvo a:hover h2 {
    background:#fff;
    color:#028577;
    transition: all 0.5s
}
.pag-procedimentos ul li {
    list-style-type: none;
    padding: 3px 0;
    letter-spacing: 0.3px;
}
.pag-procedimentos i.fas.fa-check {
    color: #d34a4b;
    padding-right: 10px;
}