/* Página de Contato */
main.main-content {
    margin-top: 148px;  
    margin-bottom: 30px;
}
.form-contato {
    margin-top: 20px;
    border: 1px solid #a9a9a9;
    padding: 50px 25px;
    border-radius: 3px;
    box-shadow: 0px 2px 7px 2px #d8d0d0;
}
.mapa-contato {
    width:100%;
    min-height:400px;
    border:none;
    float:left;
    display:block
}
.pag-procedimentos h1 {
    color: #003;
    font-size: 40px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-align: center;
}
.pag-procedimentos hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}