main.main-content {
    margin-top: 148px;
}
.banner-pag {
	background: url(imagens/faixa-fisioterapia.jpg);
	height: 300px;
	width: 100%;
    float: left;
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 30px;
}
.banner-pag h1 {
    color: #fff;
    font-size: 65px;
    letter-spacing: 1px;
}
.conteudo-pag h2 {
    font-size: 34px;
    margin-bottom: 8px;
    color: #003;
    text-align: center;
}
.conteudo-pag hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.conteudo-pag p {
	text-align: center;
	line-height: 24px;
    letter-spacing: 0.3px;
}
