main.main-content {
  margin-top: 0;
}
.banner-home {
    float: left;
    width: 100%;
}
.modal-info .pop-up {
    position: fixed;
    margin: 0% auto;
    left: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    z-index: 1000;
}
main.main-content .banner-home h1 {
    padding-bottom: 11px;
    margin: 10px 0;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#fff;
}
main.main-content .banner-home h2 {
	font-size: 45px;
	padding-bottom: 11px;
    margin: 13px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px
}
.theme-default-nivo-slider .nivo-caption a.btn-home {
	background: #003;
	padding: 14px 25px;
	margin: 30px 30px 0 0;
	border-radius:5px;
	letter-spacing: 0.3px;
	font-size: 16px;
	text-transform: uppercase;
}
.theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home {
	background: #7bd86f;
	padding: 12px 25px;
	margin: 30px 30px 0 0;
	border-radius:5px;
	letter-spacing: 0.3px;
	font-size: 18px;
}
.theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home i {
	font-size: 18px;
	padding-right: 5px
}
.nivo-caption img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0);
}
/* FIM BANNER HOME */

/* ATENDIMENTO HOME */
.atendimento-home {
  width: 100%;
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
}
.atendimento-home i {
    font-size: 55px;
    color: #003;
    margin-top: 20px;
}
.col-xs-12.col-sm-4.col-md-4.col-lg-4.antedimentos-inicial {
  padding: 50px
}
.antedimentos-inicial p {
    line-height: 23px;
    height: 140px;
}
.antedimentos-inicial a.btn-arendimento {
    background: #333;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s
}
.antedimentos-inicial a.btn-arendimento:hover {
    text-decoration: none;
    background: #fff;
    border:1px solid #333;
    color: #333;
    transition: all 0.5s
}
/* FIM ATENDIMENTO HOME */
/* FAIXA CONTATO HOME */
.faixa-contato {
  width: 100%;
  float: left;
  background: #028577;
  color: #fff;
  text-align: center
}
.faixa-contato a {
    margin: 27px 0;
}
.faixa-contato a h2 {
  color: #fff;
  font-size: 30px;
  padding: 20px 0;
}
.faixa-contato a h2 i {
  padding-left: 15px;
  font-size: 35px
}
.faixa-contato a:hover {
  text-decoration: none
}
/* FIM FAIXA CONTATO HOME */
/*INICIO SOBRE NOS*/
.sobre-nos {
  float: left;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  background: #0a0a0a0a;
  text-align: center
}
.sobre-nos h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 8px;
  color: #003;
}
.sobre-nos h3 {
  font-size: 22px;
}
.sobre-nos p {
  letter-spacing: 0.6px;
  line-height: 23px;
  height: 100px;
}
.sobre-nos hr {
  border-top:2px solid #d34a4b;
  width: 10%;
  margin-top: 0;
  margin-bottom: 40px;
}
.sobre-nos a.btn-empresa {
  background: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s
}
.sobre-nos a.btn-empresa:hover {
  text-decoration: none;
  background: #fff;
  border:1px solid #333;
  color: #333;
  transition: all 0.5s
}
/*FIM SOBRE NOS*/
.tratamentos {
  width: 100%;
  float: left;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center
}
.tratamentos h2 {
  font-size: 34px;
  margin-bottom: 8px;
  color: #003;
}
.tratamentos hr {
  border-top: 2px solid #d34a4b;
  width: 10%;
  margin-top: 0;
  margin-bottom: 40px;
}
.tratamentos p {
  letter-spacing: 0.6px;
  line-height: 23px;
  font-size: 14px
}
.tratamentos .col-xs-12.col-sm-4.col-md-4.col-lg-4 {
  padding: 20px 40px;
}
.tratamentos .content {
  position: relative;
  width: 100%;
  max-width: 402px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.tratamentos .content .content-overlay {
  background: rgb(255 255 255 / 75%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 20px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 0;
}
.tratamentos .content:hover .content-overlay {
  opacity: 1;
}
.tratamentos .content-image {
    width: 100%;
    height: 239px;
    border: 1px solid #d34a4b;
    border-radius: 2px;
    padding: 22px 15px;
}
.tratamentos .content-details {
  position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.tratamentos .content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.tratamentos .content-details h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}
.tratamentos .content-details p.btn-content {
    background: #003;
    width: 50%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    padding: 10px 12px;
}
.tratamentos .fadeIn-bottom{
  top: 80%;
}
.tratamentos .fadeIn-top{
  top: 20%;
}
.tratamentos .fadeIn-left{
  left: 20%;
}
.tratamentos .fadeIn-right{
  left: 80%;
}

/* FIM CLIENTES */

/*INICIO CONTADOR HOME*/
.contador-home {
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    background:url(imagens/faxa-empresa.jpg) 55% 64%;
}
.contador-home h3 {
    font-size: 53px;
    margin: 20px 0;
    color: #028577;
}
.contador-home p {
    font-size: 32px;
    letter-spacing: 0.8px;
    color: #028577;
    font-weight: 700;
}
/*FIM CONTADOR HOME*/

@media screen and (max-width: 40em) {
  main.main-content {
    margin-top: 41px;
  }
  main.main-content .banner-home h1 {
    padding-bottom: 11px;
    margin: 0;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 768px) {
    .banner-home {
    margin-top: 13px;
    }
}
