main.main-content {
    margin-top: 140px;
    margin-bottom: 60px
}
.banner-pag {
	background: url(imagens/tratamento.jpg);
	height: 300px;
	width: 100%;
    float: left;
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 30px;
}
.banner-pag h1 {
    color: #fff;
    font-size: 65px;
    letter-spacing: 1px;
}
.conteudo-pag h2 {
    font-size: 34px;
    margin-bottom: 8px;
    color: #003;
    text-align: center;
}
.conteudo-pag hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.conteudo-pag img {
    width: 90%;
}
.antedimentos-inicial a.btn-arendimento h3 {
    border:1px solid #028577;
    background: #028577;
    color: #fff;
    padding: 12px;
    letter-spacing: 0.6px;
    margin: 18px;
    transition: all 0.5s
}
.antedimentos-inicial a.btn-arendimento:hover h3 {
    background: #fff;
    color: #028577;
    transition: all 0.5s
}
.antedimentos-inicial a.btn-arendimento {
    text-decoration: none;
    transition: all 0.5s
}