main.main-content {
    margin-top: 148px;
}
.pag-procedimentos {
    width: 100%;
    float: left;
}
.pag-procedimentos h1 {
    color: #003;
    font-size: 40px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-align: center;
}
.pag-procedimentos hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.pag-procedimentos .ativvo a h2 {
    border: 1px solid #028577;
    color: #028577;
    text-align: center;
    padding: 10px;
}
.pag-procedimentos a {
    text-decoration: none
}
.pag-procedimentos .no-ativvo a h2 {
    border: 1px solid #d34a4b;
    background: #d34a4b;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: all 0.5s
}
.pag-procedimentos .no-ativvo a:hover h2 {
    background:#fff;
    color:#028577;
    transition: all 0.5s
}
.cont-tratamentos {
    width: 100%;
    float: left;
    padding: 50px 0;
    text-align: center;
}
.cont-tratamentos h4 {
    background: #d44f50;
    color: #fff;
    padding: 10px;
    letter-spacing: 0.6px;
}
.cont-tratamentos p {
    padding: 0 10px 10px 10px;
    line-height: 22px;
    letter-spacing: 0.4px;
}
.pag-procedimentos a.btn-leiamais {
    text-decoration: none;
    border: 1px solid #028577;
    padding: 8px 26px;
    color: #028577;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.pag-procedimentos a.btn-leiamais:hover {
    border: 1px solid #028577;
    background: #028577;
    color: #fff;
    transition: all 0.5s;
}
.cont-tratamentos .col-xs-12.col-sm-3.col-md-3.col-lg-3 {
    margin-bottom: 35px;
    height: 221px;
}
.pag-procedimentos ul li {
    list-style-type: none;
    padding: 3px 0;
    letter-spacing: 0.3px;
}
.pag-procedimentos i.fas.fa-check {
    color: #d34a4b;
    padding-right: 10px;
}
.pag-procedimentos p {
    text-align: center;
    line-height: 23px;
}

.sidebar-main {
    float: left;
    width: 100%;
}
.sidebar-main h3 {
    padding: 0;
    margin: 0px 0 14px 0;
    border-bottom: 4px solid #ff6767;
    background: #fff;
}
.sidebar-main h3 a {
    display: block;
    text-align: center;
    padding: 3px 0;
    text-decoration: none;
    color: #10538e;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.sidebar-main ul {
    padding:0;
    margin:0;
    overflow-x: visible;
    height: 650px;
    border-bottom: 1px solid #f4f4f4;
}
.sidebar-main ul li {
    list-style-type:none;
    margin: 0;
}
.sidebar-main ul li a {
    font-size:12px;
    text-decoration:none;
    display:block;
    padding:7px 0 7px 6px;
    border-left:2px solid #1e73be;
    color: #1e73be;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.sidebar-main ul li a:hover {
    background-color:#f5f5f5;
}
.sidebar-main ul li a.active-link-sidebar {
    border-left:4px solid #ff6768;
    font-size: 13px
}
.active-link-sidebar {
}
::-webkit-scrollbar-track {
    display: none;
    background-color: #333;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    border-radius: 50px
}
::-webkit-scrollbar-thumb {
    background: #d6d4d4;
    border-radius: 50px;
}