main.main-content {
    margin-top: 148px;
}
.pag-procedimentos {
    width: 100%;
    float: left;
}
.pag-procedimentos h1 {
    color: #003;
    font-size: 40px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-align: center;
}
.pag-procedimentos hr {
    border-top: 2px solid #d34a4b;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.pag-procedimentos p {
    line-height: 23px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.pag-procedimentos li {
    padding: 5px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.pag-procedimentos h2 {
    font-size: 22px;
    color: #ff4a4b;
    margin-top: 30px;
}
/* SIDEBAR */
.sidebar-main {
    float: left;
    width: 100%;
}
.sidebar-main h3 {
    padding: 0;
    margin: 0px 0 14px 0;
    border-bottom: 4px solid #ff6767;
    background: #fff;
}
.sidebar-main h3 a {
    display: block;
    text-align: center;
    padding: 3px 0;
    text-decoration: none;
    color: #10538e;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.sidebar-main ul {
    padding:0;
    margin:0;
    overflow-x: visible;
    height: 650px;
    border-bottom: 1px solid #f4f4f4;
}
.sidebar-main ul li {
    list-style-type:none;
    margin: 0;
}
.sidebar-main ul li a {
    font-size:12px;
    text-decoration:none;
    display:block;
    padding:7px 0 7px 6px;
    border-left:2px solid #1e73be;
    color: #1e73be;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.sidebar-main ul li a:hover {
    background-color:#f5f5f5;
}
.sidebar-main ul li a.active-link-sidebar {
    border-left:4px solid #ff6768;
    font-size: 13px
}
.active-link-sidebar {
}
::-webkit-scrollbar-track {
    display: none;
    background-color: #333;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    border-radius: 50px
}
::-webkit-scrollbar-thumb {
    background: #d6d4d4;
    border-radius: 50px;
}
/* FIM SIDEBAR */
